*{
    margin: auto;
    padding: 0;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box{
    height: 200px;
    width: 200px;
    border: 10px solid rgb(192, 185, 185);
    margin-top: 200px;
}
/* .box1{
    
}
.box2{

}
.box3{
    
}
.box4{
    
} */